profiles {

standardx {
         process.executor = "slurm"		
	 params.htp_cores = 24
	 params.mtp_cores = 12
	 params.ltp_cores = 4
	 params.h_mem  	  = 250
	 params.m_mem  	  = 20
	 params.l_mem  	  = 10

}



standard {
         process.executor = "local"		
	 params.htp_cores = 4
	 params.mtp_cores = 3
	 params.ltp_cores = 2
	 params.h_mem  	  = 10
	 params.m_mem  	  = 6


}
}


process {

    withLabel: anvio {
    conda="/opt/mini/envs/anvio5"}
}
















